.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: lightgrey;
  .container {
    border: 1px solid white;
    background-color: grey;
    padding: .2rem;
  }
}
