footer {
  display: flex;
  justify-content: space-between;
  padding: 3em 0;
  border-top: 1px solid #666;
  margin-top: 2rem;

  a {
    color: #41addd;

    &:hover {
      color: #6cc0e5;
    }
  }
}
