.application-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;

  &__title {
    margin: 0 !important;
    padding: 0.5rem;
  }
  &__contact {
    margin-top: 3px;
    border: 1px solid black;
    padding: 0;
  }

  &__node:first-of-type {
    border-top: 1px solid black;
  }

  &__node {
    border-bottom: 1px solid black;
    padding: 5px;
  }
}
