.application-history {
  margin-top: 2rem;
  &__title {
    margin: 0 !important;
  }
  &__contact {
    margin-top: 3px;
    border: 1px solid black;
    padding: 0;
  }

  &__node:first-of-type {
    border-top: 1px solid black;
  }

  &__node {
    border-bottom: 1px solid black;
    padding: 5px;
  }
}
