$border-color: white;
.application-item:first-of-type {
  margin-top: 1px;
  border-top: 1px solid $border-color;
}
.application-item {
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  padding: 2px;


  &__expand-button {
    padding: 0;
    margin-right: 5px;
  }

  &__status {
    padding: 1px;
  }

  &__status-update-icon {
    margin-left: 2px;
  }

  &__controls {
    margin-left: 10px;
    button {
      padding: 0;
      margin-right: 4px;
    }
  }
}

