.application-item:first-of-type {
  border-top: 1px solid black;
}
.application-item {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 2px;

  &__status {
    padding: 1px;
  }
  &__controls {
    border-bottom: 1px solid black;
  }
}

